[Desktop Entry]
Name=Meet
Type=Application
Exec=/opt/brave.com/brave/brave-browser --profile-directory='Profile 1' --app='https://meet.google.com/tmc-chzm-btp?authuser=0'https://meet.google.com'hs=122' -class=meet %u
Icon=meet.png
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
Terminal=false



