[Desktop Entry]
Version=1.0
Name=Meet
Exec=/opt/brave.com/brave/brave-browser --profile-directory='Profile 1' --app='https://meet.google.com' -class=meet %u
Icon=meet.png
Terminal=false
Type=Application
StartupWMClass=meet
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
